/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    margin:0px;
    padding:0px;
    background-color: #000;
    width: 100%;
    height: 100%;
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

*:focus{
    outline:none;
}
#container{
    width:480px;
    height: 800px;
    overflow: hidden;
}
form{
    overflow: hidden;
    height: 80px;
    transition: 0.6s;
}
#display{
    width:480px;
    height:80px;
    font-size:50px;
    font-weight:bold;
    background-color:#000;
    color: #fff;
    cursor:default;
    border: none;
    overflow: hidden;
    text-align:center;
    white-space: nowrap;
    -ms-user-select: none;
}
#antwoord{
    width:480px;
    height:80px;
    font-size:50px;
    font-weight:bold;
    background-color:#000;
    color: #fff;
    cursor:default;
    border: none;
    text-align:center;
    white-space: nowrap;
    overflow: hidden;
    -ms-user-select: none;
}
.cijfer{
    width:156px;
    height:146px;
    float: left;
    margin: 0;
    text-align: center;
    font-size:100px;
    border:2px solid #000;
    color:#000;
    background-color:#ff0;
}
.cijfer:active{
    width:146px;
    height:136px;
    margin:5px;
    text-align: center;
    font-size:95px;
    border:2px solid #000;
    color:#000;
    background-color:#ff0;
}
.operator{
    width:116px;
    height:116px;
    float: left;
    text-align: center;
    font-size:65px;
    font-weight: bold;
    border:2px solid #000;
    color:#000;
    background-color:#00f;
}
.operator:active{
    width:106px;
    height:106px;
    margin:5px;
    text-align: center;
    font-size:60px;
    border:2px solid #000;
    color:#000;
    background-color:#00f;
}
#wis{
    width:156px;
    height:146px;
    float: left;
    text-align: center;
    font-size:100px;
    border:2px solid #000;
    color:#000;
    background-color:#f00;
}
#wis:active{
    width:146px;
    height:136px;
    margin:5px;
    text-align: center;
    font-size:95px;
    border:2px solid #000;
    color:#000;
    background-color:#f00;
}
#answer{
    width:156px;
    height:146px;
    float: left;
    text-align: center;
    font-size:100px;
    border:2px solid #000;
    color:#000;
    background-color:#0f0;
}
#answer:active{
    width:146px;
    height:136px;
    margin:5px;
    text-align: center;
    font-size:95px;
    border:2px solid #000;
    color:#000;
    background-color:#0f0;
}
#error{
    width:480px;
    height:80px;
    font-size:40px;
    font-weight:bold;
    font-family: LCD;
    src: url('lcd.ttf');
    background-color:#ddd;
    cursor:default;
    border:2px solid #000;
    text-align:center;
    float:left;
}
#clear{
    width:120px;
    height:120px;
    float: left;
    font-size:40px;
    font-weight:bold;
    border:2px solid #000;
    color:#000;
    background-color:#00f;
}
#clear:active{
    width:110px;
    height:110px;
    margin:5px;
    font-size:35px;
    font-weight:bold;
    border:2px solid #000;
    color:#000;
    background-color:#00f;          
}